# Исключаем файлы Visual Studio и сборки .NET
 
# Папка настроек Visual Studio
.vs/

# Бинарные файлы и папки
[Bb]in/
[Oo]bj/

# Файлы решений и проекта (если они генерируются IDE)
*.sln.ide
*.suo

# Временные файлы и кэш NuGet
.nuget/
*.log